<div class="container mt-5 text-center" id="welcomeSection">
    <!--  🚀 -->
    <h1>Welcome to TicketNexus</h1>
    <p class="lead">Streamline your tasks, tickets, and attendance — all in one place. <i class="bi bi-wifi"></i></p>

    <div class="mt-4">
        <a href="/login" class="btn btn-primary me-2">Login </a>
    </div>
</div>